@import url("components/form.css");

@font-face {
	font-family: LatoRegular;
	src: url("../fonts/Lato-Regular.ttf");
}

body {
	font-family:LatoRegular;
  margin: 0px;
}

.homepage-banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../img/BackgroundLogin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 17px;
}

.homepage-card {
  color: #697386;
  /*width: 410px;*/
  box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
  background-color: white;
  padding: 0px;
}

#homepage-card-nav {
  /**background-color: white;*/
	border-bottom: 1px solid #C4C4C4;
  display: flex;
  justify-content: center;
  height: 100px;
  padding: 0px;
  background-size: cover;
  background-position: center;
  background-size: cover;
}

#homepage-card-nav img{
  width: 300px;
	height: auto;
}

.homepage-form {
  padding: 20px;
  margin-bottom: 5px;
}

.homepage-card-footer{
	text-align: center;
	background-color: #EDF2F7;
	position:relative;
}

.homepage-card-footer img{
	width: 150px;
	height: auto;
}

.homepage-footer-sined-logo {
	padding: 17px;
}

.homepage-version {
	position: absolute;
  right: 20px;
  bottom: 5px;
  color: #25B8C5;
  font-size: 10px;
  line-height: 16px;
}





